.pth
*.mp4
*.jpg
*.png
*.swp
**/utils/gs/
**/.DS_Store

**/.idea
**/*.egg-info/
**/__pycache__
**/build
*.py[cod]
**/bin/*
*.log
*.error
*.a
*.so
*.so.2
.ipynb_checkpoints
.python-version
*/gs/*
